* {
    box-sizing: border-box;
  align-items: center;
}
#body{
	overflow:hidden
}
body {
    font-family: Arial,Helvetica;
    background-color:#eeeeee;
}

header{
	display:block;
padding: 26px;
    text-align: center;
    background: #1abc9c;
    color: white;
}

.asideLeft{
font-family:Florence, cursive;

	width:17%;
	padding:5px;
	/* border:1px solid black; */
background-color:#eeeeee;
margin:0px;
}

ul,a{
	list-style-type: none;
	text-decoration:none;
	margin:0;
	margin-left:0px;
   
}
/* nav a:link, a:visited { */
    /* background-color: #f44336; */
    /* color: white; */
    /* padding: 14px; */
    /* text-align: center; */
    /* text-decoration: none; */
    /* display: inline-block; */
/* } */


/* nav a:hover, a:active { */
    /* background-color: red; */
/* } */
ul li{
	 
    padding: 15px;
	text-align:center;
    
}
ul li:hover{
	border:1px solid black;
	cursor: pointer;
	color: white;
	
	/* background-color:#1abc9c; */
	font-size:14px;
	
}

.mainContent{
	/* border:1px solid black; */
	font-family: Lucida, sans-serif;;
	margin:0px 0 0px px;
	width:67%;
	/* width:auto; */
	padding:10px;
	padding-bottom:50px;
	background:#eeeeee;
	text-align:justify;
}
.image:hover{
	
opacity:0.3;
filter:aplha(opacity=50);
cursor: not-allowed;
}
.marquee{
	border:2px solid black;
	width:210px;
	height:140px;
	background-color:powderblue;
	
}

.asideRight{
	
	margin-top:10px;
	width:16%;
	padding:5px;
	/* border:1px solid black; */
	background:#eeeeee;
	/* top:0px; */
/* float:right;   */
/* position:absoulte;  */
font-family:Andale Mono, monospace;
}
/* div .marquee{ */
/* border :2px solid black; */
/* } */



footer{
font-family:Parkavenue, cursive;
	padding:8px;
    text-align: center;
    background: #1abc9c;
    color: white;
	height:80px;
}